/* background */


position: absolute;
width: 1366px;
height: 768px;
left: 0px;
top: 0px;

background: linear-gradient(90deg, #D4F1F4 0%, #BCE9F2 11.11%, #A4E1F2 22.22%, #8CD9F3 33.33%, #73D0F5 44.44%, #59C6F8 55.56%, #3EBCFB 66.67%, #21B1FE 77.78%, #00A5FF 88.89%, #0099FF 100%), url(.png);


/* header */


position: absolute;
width: 1366px;
height: 70px;
left: 0px;
top: 0px;

background: #FFFFFF;
box-shadow: 0px 4px 10px rgba(5, 0, 255, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 0px 0px 20px 20px;


/* onedek-logo */


position: absolute;
width: 45px;
height: 45px;
left: 28px;
top: 13px;

background: url(logo-onedek.png);


/* judul */


position: absolute;
width: 356px;
height: 36px;
left: 505px;
top: 17px;

font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 36px;
/* identical to box height */

text-align: center;
letter-spacing: 0.1em;

color: #000000;



/* blobs-shape-ru */


position: absolute;
width: 325px;
height: 327px;
left: 778px;
top: 114px;

background: linear-gradient(90deg, #FFB654 0%, #FABD50 11.11%, #F5C34C 22.22%, #EFC949 33.33%, #E9CE47 44.44%, #E3D344 55.56%, #DCD643 66.67%, #D0D441 77.78%, #BFCC40 88.89%, #AFC440 100%), #C4C4C4;


/* blobs-shape-lu */


position: absolute;
width: 292px;
height: 332px;
left: 334px;
top: 147px;

background: linear-gradient(90deg, #0D83EF 0%, #5684EC 6.25%, #7784E7 12.5%, #9086E3 18.75%, #A388DE 25%, #B38BD8 31.25%, #BF8ED3 37.5%, #CA93CF 43.75%, #D298CA 50%, #D99DC7 56.25%, #DDA4C4 62.5%, #E1ABC3 68.75%, #E3B2C3 75%, #E4B9C4 81.25%, #E4C1C7 87.5%, #E3C8CB 93.75%, #E1D0D0 100%), #E1D0D0;


/* blobs-shape-mb */


position: absolute;
width: 311px;
height: 273px;
left: 589px;
top: 465px;

background: linear-gradient(90deg, #82A0D5 0%, #808ED8 6.67%, #807EDB 13.33%, #927BDE 20%, #A579E1 26.67%, #BA77E4 33.33%, #D175E6 40%, #E973E8 46.67%, #EC71D3 53.33%, #EF6FBC 60%, #F26DA3 66.67%, #F46B88 73.33%, #F7696B 80%, #FA8167 86.67%, #FC9E65 93.33%, #FFBC63 100%), #FFFFFF;


/* container */


position: absolute;
width: 407px;
height: 327px;
left: 480px;
top: 238px;

background: #FFFFFF;
box-shadow: 0px 0px 50px 5px rgba(244, 121, 255, 0.7);
border-radius: 30px;


/* login */


position: absolute;
width: 116px;
height: 56px;
left: 625px;
top: 257px;

font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 35px;
line-height: 52px;
letter-spacing: 0.1em;

color: #000000;



/* email-form */


position: absolute;
width: 360px;
height: 45px;
left: 505px;
top: 347px;

background: #E9EBEB;
border-radius: 50px;


/* placeholder-email */


position: absolute;
width: 149px;
height: 24px;
left: 523px;
top: 357px;

font-family: Poppins;
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 24px;
/* identical to box height */

text-align: center;
letter-spacing: 0.1em;

color: #C1C1C1;



/* email */


position: absolute;
width: 51px;
height: 24px;
left: 523px;
top: 318px;

font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height */

text-align: center;
letter-spacing: 0.1em;

color: #000000;



/* submit-btn */


position: absolute;
width: 189px;
height: 49px;
left: 589px;
top: 498px;

background: #189AB4;
box-shadow: 0px 0px 10px #DEFF81;
border-radius: 50px;


/* submit */


position: absolute;
width: 69px;
height: 20px;
left: 649px;
top: 513px;

font-family: Montserrat;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 19px;
text-align: center;
letter-spacing: 0.1em;

color: #FFFFFF;



/* password-form */


position: absolute;
width: 360px;
height: 45px;
left: 505px;
top: 431px;

background: #E9EBEB;
border-radius: 50px;


/* placeholder-password */


position: absolute;
width: 148px;
height: 24px;
left: 523px;
top: 441px;

font-family: Poppins;
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 24px;
/* identical to box height */

text-align: center;
letter-spacing: 0.1em;

color: #C1C1C1;



/* password */


position: absolute;
width: 90px;
height: 24px;
left: 523px;
top: 402px;

font-family: Poppins;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height */

text-align: center;
letter-spacing: 0.1em;

color: #000000;
